* {
    font-family: 'Arial', 'sans-serif', Arial, sans-serif;

}

body {
    background: rgb(231, 231, 231);
}

.navbar {
    background: rgb(133, 186, 236);
    font-size: 20px;
}

.navbar-nav {
    color: rgb(56, 35, 2);
}

.text-titulo-1 {
    font-size: 18px;

}